[Unit]
Description=Sausage-store

[Service]
User=jarservice
Environment=REPORT_PATH=/log/reports
Environment=LOG_PATH=/log
EnvironmentFile=/home/jarservice/environment
StandardOutput=file:/opt/log/sausage-store.log
Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar' \
--spring.datasource.url=${PSQL_DB} \
--spring.datasource.username=${PSQL_USER} \
--spring.datasource.password=${PSQL_PASS} \
--spring.data.mongodb.uri=mongodb://${MONGO_USER}:${MONGO_PASS}@${MONGO_HOST}:27018/${MONGO_DB}?tls=true&replicaSet=rs01
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target